* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 20%;
}

main {
    background-color: #001433;
    height: 820px;
}

.todolist-container {
    background-color: #fff;
    max-width: 900px;
    margin: 0 auto;
}