* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 20%;
}

main {
    background-color: #001433;
    height: 820px;
    overflow-y: auto;
}

span {
    cursor: pointer;
}

.todolist-container {
    background-color: #fff;
    max-width: 900px;
    margin: 0 auto;
    border-radius: 10px;
}

.bg-blue {
    background-color: #00143372;
}

input.form-control {
    width: 85%;
}